<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.patients.ayushmaanbhava.ayushmaanbhavapatientsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        tools:replace="android:allowBackup,icon,theme,label"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Profile_Select" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Password_update" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Doc_fees_detail" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Forgot_Password2" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Change_Number1" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Doc_Fee" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Fees" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Change_Number2" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".PaymentStatusActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Payu_Test" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Payu_Test2" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Register" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Login" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Forgot_Password" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Main_Dashboard" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Profile" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Appointments" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Appoint_Detail" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Image_upload" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Prescription_Detail" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Prescription_detail_more" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Blog" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Blog_Detail" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Chat" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Invoice" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Invoice_Detail" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".PaymentStatusActivity2" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <!--      <activity android:name=".SimplePaymentPage" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
     -->
        <receiver android:name=".IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>